.home-intro {
    height:88vh;
    margin-top:12vh;
    display: grid;
    grid-template-rows: 1fr 10fr ;
    
  }
  .home-strips {
    height:100vh;
    
    display: grid;
    grid-template-rows: 3fr 1fr ;
    
  }
  .home-list-overview{
    height:100vh;
    display:grid;
    grid-template-rows: 1fr 5fr;

  }