.home{
  width:100%;
  
}
.home-intro {
    height:88vh;
    margin-top:12vh;
    display: grid;
    grid-template-rows: 1fr 10fr ;
    
  }
  .home-strips {
    height:100vh;
    
    display: grid;
    grid-template-rows: 3fr 1fr ;
    
  }
  .home-list-overview{
    min-height:100vh;
    display:grid;
    grid-template-rows: 1fr 5fr;

  }
  .home-footer{
    display:grid;
    grid-template-columns:4fr 1fr;
    
  }
  li{
    text-justify: left;
    justify-content: left;
  }