.hero {
  width: 100vw;
  height: 90vh;
  background: none;
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
  text-align: left;


}

.hero-img {
  background: none;
  margin-top: 12vh;
  margin-bottom: 12vh;
  width: 45vw;
  border: none;
  justify-content: baseline;

}

.hero-text {
  color: #000000;
  width: 55vw;
  background: none;
  margin: 0;

}

.typewriter {
  overflow: hidden;
  border-right: 2px solid rgb(255, 28, 28);
  white-space: nowrap;
  margin: 0;
  font-size: 1.2rem;
  letter-spacing: .15em;
  opacity: 0;
  font-size: 1rem;
  animation: typing 1.5s steps(40, end) forwards, blink-caret .5s step-end infinite;
}

@keyframes typing {
  from {
    opacity: 1;
    width: 0
  }

  to {
    opacity: 1;
    width: 55vw
  }
}

@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: none
  }
}

@media screen and (max-width: 900px) {

  .hero {
    width: 100%;
    height: auto;

    background: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
  }

  .hero-img {
    background: none;
    position: relative;
    margin-bottom: 0;
    margin-top: 0;
    max-width: 50vw;

  }

  .hero-text {
    color: #000000;
    width: 100vw;
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .typewriter {
    font-size: 0.9em;
    width: 99vw;
  }

  @keyframes typing {
    from {
      opacity: 1;
      width: 0
    }

    to {
      opacity: 1;
      width: 95vw
    }
  }

}