.home-intro {
    height:100vh;
    
    display: grid;
    grid-template-rows: 1fr 10fr ;
    
  }
  .home-strips {
    height:50vh;
    
    display: grid;
    grid-template-rows: 3fr 1fr ;
    
  }