.nav{
    height:12vh;
    width:100%;
    border-bottom: 3px black solid;
    position:fixed;
    top:0;
    background: black;
    color:white;
    justify-content:left;
    display: grid;
    grid-template-columns: 2fr 5fr ;
    justify-content: left;
    overflow:hidden;
    z-index: 100;
    
   
}
.avatar{
    max-width: 50px;
    position: absolute;
    left:15px;
    top:10px;
}
.left-nav{
  
    justify-content:baseline;
}
.right-nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.login{
   
    max-width:10vw;
    max-height: 7vh;
    size: 10px;
    display: flex;
    flex-direction:row;
    margin:5px;
}
input{
    width:7vw;
    margin: 5px;
}