.nav{
    height:12vh;
    width:100%;
    border-bottom: 3px black solid;
    position:absolute;
    top:0;
    background: yellowgreen;
    justify-content:left;
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-content: left;
    overflow:hidden;
    
   
}
.right-nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: red;
}